@import url('https://fonts.googleapis.com/css2?family=Domine&family=Playfair+Display&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: rgb(66, 0, 41);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: rgb(66, 0, 41);
    color: rgb(255, 255, 255);
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 5px;
    position: relative;
}


.navbar a::after{ 
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .flex {
    justify-content: space-between;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    align-items: center;
    height: 100%;
}



img {
    width: 100%;
    height: auto;
}

.socials-container{
    /* margin: 100px 100px 100px 100px; */
    /* padding: 10px; */
    align-self: center;
    text-align: center;
}
.socials-container h1{
    height: 100px;
    align-content: center;
}

.socials{
    max-width: 1100px;

}
.socials ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.socials li{
    /* margin: 10px 10px 10px 10px ; */
    padding: 20px;
    border: rgb(66, 0, 41);
    border-radius: 1px;
    border-style: solid;
}

.socials a{
    padding: 10px;
    border:  rgb(66, 0, 41);
    color: rgb(66, 0, 41);
    border-width: 1px;
    position: relative;
}

.socials a::after{ 
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.socials a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}





